<app-navbar></app-navbar>

<div class="container mt-5">

    <div class="text-right">
        <button id="contact-btn" class="btn btn-dark" routerLink='/user/{{currentUsername}}/messages'>Contact
            {{contactUsername}}</button>
    </div>
    <hr>
    <div *ngIf="isStatusUpdateFailed" class="message alert alert-danger text-center" role="alert">
        <h4 class="alert-heading">Order Status Change Failed!</h4>
    </div>
    <div *ngIf="isDeclineFailed" class="message alert alert-danger text-center" role="alert">
        <h4 class="alert-heading">Order Decline Failed!</h4>
    </div>

    <!--Visible for Farmers-->

    <div *ngIf="isFarmer">
        <div class="jumbotron p-3 mb-3 success" *ngIf="isInprogressOrder">
            <h4>Order Confirmation</h4>
            <hr>
            <p>This order does not start yet. Do you want to accept and start this order now?</p>
            <hr>
            <div class="text-right">
                <button type="button" data-toggle="modal" data-target="#declineModal"
                    class="btn btn-danger mx-1">Decline</button>
                <button type="button" data-toggle="modal" data-target="#acceptModal"
                    class="btn btn-success mx-1">Accept</button>
            </div>
        </div>

        <div class="jumbotron p-3 mb-3 text-center unsuccess" *ngIf="isLateOrder">
            <h4>Hurry Up! This order is late.</h4>
        </div>

        <div class="jumbotron p-3 mb-3 text-center success" *ngIf="isCompletedOrder">
            <h4>Whoooha! This order was completed on {{orderDetailsPayload?.completedDate}}.</h4>
        </div>
    </div>

    <!--Visible for Buyers-->

    <div *ngIf="isBuyer">
        <div class="jumbotron p-3 mb-3 text-center unsuccess" *ngIf="isLateOrder">
            <h4>Too Bad! This order is late.</h4>
        </div>

        <div class="jumbotron p-3 mb-3 text-center success" *ngIf="isCompletedOrder">
            <h4>Whoooha! This order was completed on {{orderDetailsPayload?.completedDate}}.</h4>
        </div>
    </div>

    <!--Visible for both farmers and buyers-->

    <div id="order_header" class="jumbotron p-3">
        <h3 class="text-left my-3">{{orderDetailsPayload?.shopTitle}}</h3>
        <hr>
        <div class="row my-3">
            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
                <p class="mb-1">Created on: {{orderDetailsPayload?.createdDate}}</p>
            </div>
            <div id="dueDate" class="col-lg-6 col-xl-6 col-md-6 col-sm-12">
                <p class="mb-1">Due on: {{dueDate}}</p>
            </div>
        </div>
    </div>

    <!----------------Countdown CLOCK----------------------->

    <div class="text-center" *ngIf="!isInprogressOrder && !isCompletedOrder">

        <div class="title jumbotron-fluid py-3">
            <h4>Remaining Time</h4>
        </div>

        <div class="row py-5 px-2 m-0">
            <div class="clock-box col-xl-3 col-l-3 col-md-3 col-sm-6 p-2">
                <h5>DAYS</h5>
                <h5>{{countdown?.days}}</h5>
            </div>
            <div class="clock-box col-xl-3 col-l-3 col-md-3 col-sm-6 p-2">
                <h5>HOURS</h5>
                <h5>{{countdown?.hours}}</h5>
            </div>
            <div class="clock-box col-xl-3 col-l-3 col-md-3 col-sm-6 p-2">
                <h5>MINUTES</h5>
                <h5>{{countdown?.minutes}}</h5>
            </div>
            <div class="clock-box col-xl-3 col-l-3 col-md-3 col-sm-6 p-2">
                <h5>SECONDS</h5>
                <h5>{{countdown?.seconds}}</h5>
            </div>
        </div>
    </div>
    <hr>
    <div id="note" class="row mt-3 mx-0">
        <h4 class="col py-3 text-center">Order Note</h4>
    </div>
    <div>
        <p class="text-justify p-3">{{orderDetailsPayload?.note}}</p>
    </div>
    <div id="details" class="mb-3 text-center">
        <div class="row p-2">
            <div class="col">
                <p class="title p-2">Category</p>
                <p>{{orderDetailsPayload?.category}}</p>
            </div>
            <div class="col">
                <p class="title p-2">Sub Category</p>
                <p>{{orderDetailsPayload?.subCategory}}</p>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <p class="title p-2">Delivery in</p>
                <p>{{orderDetailsPayload?.deliveryDays}} days</p>
            </div>
            <div class="col">
                <p class="title p-2">Quantity</p>
                <p>{{orderDetailsPayload?.quantity}} {{orderDetailsPayload?.unit}}</p>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <p class="title p-2">Total Price</p>
                <p>{{orderDetailsPayload?.totalPrice}}.00 LKR</p>
            </div>
            <div class="col">
                <p class="title p-2">Location</p>
                <p>{{orderDetailsPayload?.deliveryLocation}}</p>
            </div>
        </div>
        <div class="row p-2">
            <div class="col">
                <p class="title p-2">Delivery Address</p>
                <p>{{orderDetailsPayload?.deliveryAddressLine1}}, {{orderDetailsPayload?.deliveryAddressLine2}},
                    {{orderDetailsPayload?.deliveryAddressLine3}}.</p>
            </div>
        </div>
    </div>
    <hr>
    <div *ngIf="isBuyer && !isInprogressOrder && !isCompletedOrder">
        <button type="button" data-toggle="modal" data-target="#completeModal"
            class="bigButton col btn text-light py-3">
            <h5>Complete Order</h5>
        </button>
        <hr>
    </div>
</div>

<!---------------MODALS----------------->

<!-- Accept Modal -->
<div class="modal fade" id="acceptModal" tabindex="-1" aria-labelledby="acceptModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="acceptModalLabel">Accept Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure, do you want to accept this order?</p>
            </div>
            <div class="modal-footer">
                <button id="contact-btn" type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="toActive()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Complete Modal -->

<div class="modal fade" id="completeModal" tabindex="-1" aria-labelledby="completeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="completeModalLabel">Complete Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure, do you want to complete this order?</p>
            </div>
            <div class="modal-footer">
                <button id="contact-btn" type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" data-dismiss="modal"
                    (click)="toComplete()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Decline Modal -->

<div class="modal fade" id="declineModal" tabindex="-1" aria-labelledby="declineModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="declineModalLabel">Decline Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure, do you want to decline this order?</p>
            </div>
            <div class="modal-footer">
                <button id="contact-btn" type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="decline()">Confirm</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>