.container{
    border: 1px solid #1AD60D;
}

.container button{
    background-color: #000000;
    border: 1px solid #1AD60D;
}

.container input:focus{
    background-color:#f0f5ef;
    border: 1px solid #1AD60D;
    box-shadow: none;
}

.container button:focus {
    border: none;
    box-shadow: none;
    border: 1px solid #1AD60D !important;
}