.container{
    border: 1px solid #052123;
}

.container button{
    background-color: #052123;
    border: none;
}

.container input:focus{
    background-color:#dcff8f;
    border: 1px solid #a6f202;
    box-shadow: none;
}

.container button:focus {
    border: none;
    box-shadow: none;
    background-color: #052123;
}

#header{
    background-color: #052123;
}

@media screen and (max-width: 342px)
{
  h4{
    font-size: 20px
  }
}
