.container{
    border: 1px solid #052123;
}

.btn:focus{
    box-shadow: none;
    border: 1px solid #1AD60D;
}

#signup-btn{
    background-color: #052123;
    border: none;
}

#clear-btn{
    background-color: #052123;
    border: none;
}

#clear-btn:hover{
    background-color: #0f484c;
    border: none;
}

.container input:focus{
    background-color:#dcff8f;
    border: 1px solid #a6f202;
    box-shadow: none;
}

#header{
    background-color: #052123;
}

.container select:focus{
    border: 1px solid #a6f202;
    box-shadow: none;
}

@media screen and (max-width: 342px)
{
  h4{
    font-size: 20px
  }
}