.container{
    border: 1px solid #1AD60D;
}

.btn:focus{
    box-shadow: none;
    border: 1px solid #1AD60D;
}

#signup-btn{
    background-color: #000000;
}

#clear-btn{
    background-color: #000000;
}
.container input:focus{
    background-color:#f0f5ef;
    border: 1px solid #1AD60D;
    box-shadow: none;
}