<app-navbar></app-navbar>

<div class="container mt-5">
    <div class="row">
        <div id="profile_picture_position" class="col-xl-3 col-lg-4 col-md-5 col-sm-12 my-auto">
            <img id="profile_picture" class="rounded-circle" src="../../assets/Profile.jpg" alt="profile_picture"
                [routerLink]="['/login']">
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7  col-sm-12 pt-3">
            <h3>{{userProfile?.firstName}} {{userProfile?.lastName}}</h3>

            <hr>
            <div id="user_details" class="text-secondary text-left">
                <div class="row">
                    <div class="col col-xl-3 col-lg-3 col-sm-4">
                        <h6>Username :</h6>
                    </div>
                    <div class="col data">
                        <h6>{{userProfile?.username}}</h6>
                    </div>
                </div>
                <hr class="my-2">
                <div class="row">
                    <div class="col col-xl-3 col-lg-3 col-sm-4">
                        <h6>Email :</h6>
                    </div>
                    <div class="col data">
                        <h6>{{userProfile?.email}}</h6>
                    </div>
                </div>
                <hr class="my-2">
                <div class="row">
                    <div class="col col-xl-3 col-lg-3 col-sm-4">
                        <h6>Mobile Number :</h6>
                    </div>
                    <div class="col data">
                        <h6>{{userProfile?.mobileNumber}}</h6>
                    </div>
                </div>
                <hr class="my-2">
                <div class="row">
                    <div class="col col-xl-3 col-lg-3 col-sm-4">
                        <h6>Address :</h6>
                    </div>
                    <div class="col data">
                        <h6>{{userProfile?.addressLine1}}, {{userProfile?.addressLine2}}, {{userProfile?.addressLine3}}.
                        </h6>
                    </div>
                </div>
                <hr class="my-2">

                <div *ngIf="isValidateUser" class="container">
                    <div *ngIf="userProfile?.role == 'FARMER'" class="row mt-5">
                        <button class="col-6 btn btn-secondary py-3">Orders</button>
                        <button class="col-6 btn btn-dark py-3">+ New Shop Card</button>
                    </div>
                    <div *ngIf="userProfile?.role == 'BUYER'" class="row mt-5">
                        <button class="col-6 btn btn-secondary py-3">Orders</button>
                        <button class="col-6 btn btn-dark py-3">+ New Request</button>
                    </div>
                    <div *ngIf="userProfile?.role == 'ADMIN'" class="row mt-5">
                        <button class="col-12 btn btn-secondary py-3">Admin Dashboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr class="mt-5">

<app-shops-profile *ngIf="userProfile?.role == 'FARMER'"></app-shops-profile>

<app-buyer-request-profile *ngIf="userProfile?.role == 'BUYER'"></app-buyer-request-profile>