.container{
    border: 1px solid #052123;
}

.btn:focus{
    box-shadow: none;
}

#submit-btn{
    background-color: #052123;
}

#clear-btn{
    background-color: #052123;
}

.container input:focus{
    background-color:#dcff8f;
    border: 1px solid #a6f202;
    box-shadow: none;
}

.container select:focus{
    border: 1px solid #a6f202;
    box-shadow: none;
}

.container textarea:focus{
    background-color:#dcff8f;
    border: 1px solid #a6f202;
    box-shadow: none;
}

#header{
    background-color: #052123;
}

@media screen and (max-width: 342px)
{
  h5 {
      font-size: 16px;
      margin-left: 4px;
      margin-right: 4px;
  }

  h4{
    font-size: 20px
  }
}