<app-navbar></app-navbar>

<div id="main_banner">
    <picture>
        <source media="(max-width:576px)" srcset="../../assets/shop_details/Banner_S.jpg">
        <source media="(max-width:768px)" srcset="../../assets/shop_details/Banner_M.jpg">
        <source media="(max-width:992px)" srcset="../../assets/shop_details/Banner_L.jpg">
        <source media="(max-width:1920px)" srcset="../../assets/shop_details/Banner_XL.jpg">
        <img src="../../assets/shop_details/Banner_xL.jpg">
    </picture>
</div>

<div class="container mt-4">
    <div>
        <h1>{{shop?.title}}</h1>
        <p>Created On: {{shop?.createdDate}} | Created By: <a class="username"
                routerLink='/user/{{shop?.username}}'><b>{{shop?.username}}</b></a>
        </p>
    </div>
    <hr>

    <div class="row mx-auto">
        <div id="shopPicture" class="col-xl-6 col-lg-6 col-md-9 col-sm-12 px-0 my-auto">
            <img *ngIf="isAvailableShopPicture" id="shop_picture" class="card-img-top" src="{{shopPicture}}"
                alt="{{shopPictureName}}">
            <img *ngIf="isAvailableNotShopPicture" id="shop_picture" class="card-img-top"
                src="../../assets/shop details image.jpg" alt="shop_picture">
        </div>
        <div class="col-xl-6 col-md-3 col-lg-6 col-sm-12 p-0 my-auto">
            <ul class="list-group text-center">
                <li class="list-group-item text-light p-1 title">Category</li>
                <li class="list-group-item p-2 data">{{shop?.category}}</li>
                <li class="list-group-item text-light p-1 title">Sub Category</li>
                <li class="list-group-item p-2 data">{{shop?.subCategory}}</li>
                <li class="list-group-item text-light p-1 title">Location</li>
                <li class="list-group-item p-2 data">{{shop?.location}}</li>
                <li class="list-group-item text-light p-1 title">For {{shop?.unit}}</li>
                <li class="list-group-item p-2 data">{{shop?.priceOfOneUnit}}.00 LKR</li>
                <li class="list-group-item text-light p-1 title">Delivery in</li>
                <li class="list-group-item p-2 data">{{shop?.deliveryDays}} Days</li>
            </ul>
        </div>
    </div>

    <div id="description" class="row mt-3 mx-0">
        <h4 class="col py-3 text-center">Description</h4>
    </div>
    <div>
        <p class="text-justify p-3">{{shop?.description}}</p>
    </div>
    <div>
        <button *ngIf="usernameFromLocalStorage != shop?.username" class="bigButton col btn text-light py-3"
            [routerLink]="['/login']">
            <h5>ORDER NOW</h5>
        </button>
        <button *ngIf="usernameFromLocalStorage == shop?.username" class="bigButton col btn text-light py-3"
            routerLink='/farmer-dashboard/update-shop/{{shopId}}'>
            <h5>EDIT SHOP</h5>
        </button>
    </div>
    <hr>
</div>

<app-footer></app-footer>