<app-navbar></app-navbar>

<div id="main_banner">
    <picture>
        <source media="(max-width:576px)" srcset="../../assets/Banner_S.jpg">
        <source media="(max-width:768px)" srcset="../../assets/Banner_M.jpg">
        <source media="(max-width:992px)" srcset="../../assets/Banner_L.jpg">
        <source media="(max-width:1920px)" srcset="../../assets/Banner_XL.jpg">
        <img src="../../assets/Banner_xL.jpg">
    </picture>
</div>

<div class="container mt-4">
    <div>
        <h1>I will sell fresh fruit and vegitables for low price</h1>
        <p>Created On: 2020.12.07 | Created By: <a class="username" [routerLink]="['/login']"><b>Hasitha</b></a>
        </p>
    </div>
    <hr>

    <div class="row">
        <button class="col btn btn-secondary py-3">Category</button>
        <button class="col btn btn-dark">Sub Category</button>
        <button class="col btn btn-secondary">Location</button>
    </div>

    <div class="row text-center">
        <img src="../../assets/shop details image.jpg" class="card-img-top" alt="...">
    </div>

    <div class="row">
        <button class="col btn btn-secondary py-3">Quantity</button>
        <button class="col btn btn-dark">Price</button>
        <button class="col btn btn-secondary">Delivery Time</button>
    </div>

    <div class="row mt-3">
        <h4 class="col bg-light py-3 text-center">Description</h4>
        <hr>
        <p class="text-justify p-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis dui quis massa
            accumsan vehicula eget ac mauris. In ornare ligula eget leo mollis aliquam. Proin non mauris tristique,
            efficitur orci a, porta nulla. Mauris nec sem laoreet, accumsan orci a, suscipit magna. Donec ornare non
            elit in euismod. In varius a leoeu fringilla. Phasellus auctor est ornare diam porttitor ullamcorper. Sed in
            ligula vitae metus eleifendcongue. Nunc sollicitudin a ex sed condimentum. Duis risus ex, rutrum at
            tristique quis, interdum non eros.Curabitur et ipsum lobortis diam pellentesque malesuada in vel orci. Sed
            aliquet, nisl id feugiat.</p>
    </div>
    <div>
        <button id="orderNow" class="col btn text-light py-3" [routerLink]="['/login']"><h5>ORDER NOW</h5></button>
    </div>
    <hr>
</div>

<app-footer></app-footer>































<!--
<div class="container mt-3">
    <div class="row">
        <div id="shopHeader" class="col-md-10 col-lg-10">
            <h1>I will sell fresh fruit and vegitables</h1>
            <p>Created On: 2020.12.07</p>
        </div>
        <div id="orderNow" class="col-md-2 col-lg-2 text-right">
            <button type="button" class="btn btn-lg">ORDER NOW</button>
        </div>
        
    </div>


    <hr>


</div>
-->
<!--<app-footer></app-footer>-->