#main_banner img{
    width: 100%;
}

button{
    border-radius: 0px;
}

button:focus{
    box-shadow: none;
}

.username{
    color: black;
}

.username:hover{
    color: #1AD60D;
    text-decoration: none;
}

#orderNow{
    background-color: black;
}

#orderNow:hover{
    background-color: #1AD60D;
}

@media screen and (max-width: 576px)
{
  h1 {
          font-size: 28px;
    }

    p {
        font-size: 13px;
    }

    h5 {
        font-size: 16px;
    }

    h4{
        font-size: 19px;
    }
}