<app-navbar></app-navbar>

<div id="main_banner">
    <picture>
        <source media="(max-width:576px)" srcset="../../assets/Banner_S.jpg">
        <source media="(max-width:768px)" srcset="../../assets/Banner_M.jpg">
        <source media="(max-width:992px)" srcset="../../assets/Banner_L.jpg">
        <source media="(max-width:1920px)" srcset="../../assets/Banner_XL.jpg">
        <img src="../../assets/Banner_xL.jpg">
    </picture>
</div>

<div class="container mt-4">
    <div>
        <h1>{{shop?.title}}</h1>
        <p>Created On: {{shop?.createdDate}} at {{shop?.createdTime}} | Created By: <a class="username"
                routerLink='/user/{{shop?.username}}'><b>{{shop?.username}}</b></a>
        </p>
    </div>
    <hr>

    <div class="row">
        <button class="col btn btn-secondary py-3">Category: {{shop?.category}}</button>
        <button class="col btn btn-dark">Sub Category: {{shop?.subCategory}}</button>
        <button class="col btn btn-secondary">Location: {{shop?.location}}</button>
    </div>

    <div class="row text-center">
        <img src="../../assets/shop details image.jpg" class="card-img-top" alt="...">
    </div>

    <div class="row">
        <button class="col btn btn-secondary py-3">Quantity: {{shop?.quantity}} Kg</button>
        <button class="col btn btn-dark">Price: {{shop?.price}}.00 LKR</button>
        <button class="col btn btn-secondary">Delivery Time: {{shop?.deliveryTime}}</button>
    </div>

    <div class="row mt-3">
        <h4 class="col py-3 text-center">Description</h4>
    </div>
    <div>
        <p class="text-justify p-3">{{shop?.description}}</p>
    </div>
    <div>
        <button *ngIf="usernameFromLocalStorage != shop?.username" class="bigButton col btn text-light py-3"
            [routerLink]="['/login']">
            <h5>ORDER NOW</h5>
        </button>
        <button *ngIf="usernameFromLocalStorage == shop?.username" class="bigButton col btn text-light py-3"
            [routerLink]="['/farmer-dashboard']">
            <h5>EDIT SHOP</h5>
        </button>
    </div>
    <hr>
</div>

<app-footer></app-footer>