#main_banner img{
    width: 100%;
}

#headingOne {
    background-color: #052123;
    color: white;
    font-size: 22px;
}

#headingOne:hover {
    background-color: #0f484c;
}

#headingOne:focus {
    background-color: #0f484c;
    border: none;
    box-shadow: none;
}

span {
    font-size: 15px;
}

b{
    color: #747474;
}

#contactBuyer {
    background-color: #052123;
    color: white;
}

#contactBuyer:hover {
    background-color: #0f484c;
    color: white;
}

#contactBuyer:focus {
    background-color: #0f484c;
    box-shadow: none;
    color: white;
}

@media screen and (max-width: 576px)
{
    #headingOne{
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }

    span {
        font-size: 12px;
    }

    .details {
        width: 200px;
    }
}

@media screen and (max-width: 360px)
{
    #contactBuyer {
        width: 100%;
    }
}