#shop_title{
    color: white;
    background-color: #052123;
    border: none;
}

a:hover{
    text-decoration: none;
}

#shop_title:hover{
    text-decoration: none;
    color: white !important;
    background-color: #0f484c !important;
}

ul:hover{
 border-radius: 0px;
}

p {
    font-size: 14px;
}