<div class="container">
    <div class="row mt-3">
        <div class="col-lg-3 col-md-4 col-sm-6 p-3" *ngFor="let profileShop of profileShops">
            <div class="card">
                <img src="../../assets/shop card image.jpg" class="card-img-top" alt="...">
                <div class="card">
                    <ul class="list-group list-group-flush rounded-0">
                        <a routerLink='/shop/{{profileShop.shopId}}' class="text-light">
                            <li id="shop_title" class="list-group-item"><h6>{{profileShop.title}}</h6></li>
                        </a>
                        <li class="list-group-item"><b>Price:</b> {{profileShop.price}}.00 LKR</li>
                        <li class="list-group-item"><b>Location:</b> {{profileShop.location}}</li>
                        <li class="list-group-item text-secondary">Created Date: {{profileShop.createdDate}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
