<app-navbar></app-navbar>

<div id="main_banner">
    <picture>
        <source media="(max-width:576px)" srcset="../../assets/orders/Banner_S.jpg">
        <source media="(max-width:768px)" srcset="../../assets/orders/Banner_M.jpg">
        <source media="(max-width:992px)" srcset="../../assets/orders/Banner_L.jpg">
        <source media="(max-width:1920px)" srcset="../../assets/orders/Banner_XL.jpg">
        <img src="../../assets/orders/Banner_xL.jpg">
    </picture>
</div>

<app-order-status-bar></app-order-status-bar>


