#profile_picture{
    width: 250px;
    height: 250px;
}

#deactivate:hover {
    border-bottom: 1px solid rgb(167, 0, 0) !important;
    color: rgb(167, 0, 0);
}

#deactivate:focus {
    box-shadow: none;
}

#update:hover {
    border-bottom: 1px solid #0f484c !important;
    color: #0f484c;
}

#update:focus {
    box-shadow: none;
}

#upload {
    background-color: #052123;
}

#upload:focus {
    box-shadow: none;
}

.modal-body .message {
    font-size: 14px;
}

.button {
    background-color: #052123;
    color: white;
}

.button:hover{
    background-color: #0f484c;
    color: white;
}

.button:focus{
    background-color: #0f484c;
    color: white;
    box-shadow: none;
}

input:focus{
    background-color:#dcff8f;
    border: 1px solid #a6f202;
    box-shadow: none;
}

@media screen and (max-width: 768px)
{
    #profile_picture_position{
        text-align: center;
    }
}

@media screen and (max-width: 380px)
{
    #profile_picture{
        width: 180px;
        height: 180px;
    }

    h5 {
        font-size: 16px;
    }

    input {
        font-size: 12px;
    }

    button {
        font-size: 14px;
    }
}

@media screen and (max-width: 342px)
{
  h5 {
      font-size: 16px;
      margin-left: 4px;
      margin-right: 4px;
  }
}