<app-navbar></app-navbar>

<div class="container mt-5">
    <div *ngIf="isProfilePictureSet" class="message alert alert-success text-center" role="alert">
        <h5 class="alert-heading">Profile picture successfully Uploaded!</h5>
    </div>
    <div *ngIf="isProfileNotPictureSet" class="message alert alert-danger text-center" role="alert">
        <h5 class="alert-heading">Profile picture uploading is failed!</h5>
    </div>
    <div class="row">
        <div class="col p-5 border m-3">
            <h5>Change Profile Picture</h5>
            <hr>
            <img *ngIf="isAvailableProfilePicture" id="profile_picture" class="rounded-circle mx-auto d-block"
                src="{{profilePicture}}" alt="profile_picture">
            <img *ngIf="isAvailableNotProfilePicture" id="profile_picture" class="rounded-circle mx-auto d-block"
                src="../../../assets/Profile.jpg" alt="profile_picture">
            <form [formGroup]="setProfilePictureForm" (ngSubmit)="uploadProfilePicture()">
                <div class="form-group" class="mt-4">
                    <input type="file" class="form-control-file" (change)="getProfilePictureDataFromUser($event)"
                        [formControlName]="'profilePicture'" accept="image/*">
                </div>
                <hr>
                <button id="upload" class="btn btn-secondary float-right" type="submit"
                    [disabled]="setProfilePictureForm.invalid">Upload</button>
            </form>
        </div>
        <div class="col p-5 border m-3">
            <h5>Change Profile Settings</h5>
            <hr>
            <button id="update" type="button" class="btn border-bottom btn-block mb-4 mt-5 rounded-0"
                routerLink='/user/{{username}}/settings/update-user-details'>Update User
                Details</button>
            <button id="update" type="button" class="btn border-bottom btn-block rounded-0 mb-4" data-toggle="modal"
                data-target="#resetPassword">Reset Password</button>
            <button id="deactivate" type="button" class="btn border-bottom btn-block rounded-0" data-toggle="modal"
                data-target="#deactivateAccount">Deactivate Account</button>
        </div>
    </div>
</div>

<!--Deactivate Account Modal -->
<div class="modal fade" id="deactivateAccount" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Deactivate Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="isAccountNotDeactivated" class="message alert alert-danger text-center" role="alert">
                    <h5 class="alert-heading">Account Deactivate is Failed!</h5>
                </div>
                <p class="text-danger">Are you sure, Do you want to deactivate your account?</p>
                <hr>
                <p class="message text-secondary"><b>Note:</b> You can reactivate your account by login with your
                    username and password next time. Also your shops and buyer requests will not be visible after the
                    deactivating.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)="deactivateAccount()">Yes</button>
            </div>
        </div>
    </div>
</div>

<!--Reset Password Modal -->
<div class="modal fade" id="resetPassword" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Reset Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="isPasswordNotReset" class="message alert alert-danger text-center" role="alert">
                    <h5 class="alert-heading">Password Reset is Failed!</h5>
                </div>
                <div *ngIf="isPasswordReset" class="message alert alert-success text-center" role="alert">
                    <h5 class="alert-heading">Password Reset is Successfull!</h5>
                    <p>Please login with your new password!</p>
                </div>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPasswordData()">
                    <div class="form-group">
                        <label for="oldPassword">Old Password</label>
                        <input [formControlName]="'oldPassword'" type="password" class="form-control"
                            placeholder="Enter your Old password">
                        <span class="form-text text-danger"
                            *ngIf="formControls.oldPassword.errors?.required && formControls.oldPassword.touched">
                            Old Password is required!
                        </span>
                        <span class="form-text text-danger"
                            *ngIf="formControls.oldPassword.errors?.pattern && formControls.oldPassword.touched">
                            You entered an invalid password!
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="userNewPassword">New Password</label>
                        <input [formControlName]="'userNewPassword'" type="password" class="form-control"
                            placeholder="Enter your new password">
                        <span class="form-text text-danger"
                            *ngIf="formControls.userNewPassword.errors?.pattern && formControls.userNewPassword.touched">
                            Password must contains at least 7 characters with including a number!
                        </span>
                        <span class="form-text text-danger"
                            *ngIf="formControls.userNewPassword.errors?.required && formControls.userNewPassword.touched">
                            New Password is required!
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="userNewconfirmPassword">Confirm Password</label>
                        <input [formControlName]="'userNewconfirmPassword'" type="password" class="form-control"
                            placeholder="Enter your confirm password">
                        <span class="form-text text-danger"
                            *ngIf="formControls.userNewconfirmPassword.errors?.required && formControls.userNewconfirmPassword.touched">Confirm
                            Password is required</span>
                        <span class="form-text text-danger"
                            *ngIf="formControls.userNewconfirmPassword.errors?.mustMatch">Confirm
                            Password does not match</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button *ngIf="!isPasswordReset" type="submit" class="btn btn-danger"
                            [disabled]="resetPasswordForm.invalid">Submit</button>
                        <button *ngIf="isPasswordReset" type="button" class="btn btn-success" (click)="reLogin()"
                            data-dismiss="modal">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>