<div id="search_bar" class="jumbotron-fluid p-4">
    <div class="container">
        <div class="row">
            <div class="dropdown col-md-3 col-sm-6 my-1">
                <button class="btn btn-secondary btn-lg dropdown-toggle py-0" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Category
                </button>
                <div class="dropdown-menu rounded-0" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class="dropdown col-md-3 col-sm-6 my-1">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sub Category
                </button>
                <div class="dropdown-menu rounded-0" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class="dropdown col-md-3 col-sm-6 my-1">
                <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Location
                </button>
                <div class="dropdown-menu rounded-0" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 my-1">
                <form class="input-group">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                    <button id="search_button" class="btn pt-0 pb-1"><img src="../../../assets/Icons/search.png"></button>
                </form>
            </div>
        </div>
    </div>
</div>