<app-navbar></app-navbar>

<div id="main_banner">
    <picture>
        <source media="(max-width:576px)" srcset="../../assets/buyer_requests/Banner_S.jpg">
        <source media="(max-width:768px)" srcset="../../assets/buyer_requests/Banner_M.jpg">
        <source media="(max-width:992px)" srcset="../../assets/buyer_requests/Banner_L.jpg">
        <source media="(max-width:1920px)" srcset="../../assets/buyer_requests/Banner_XL.jpg">
        <img src="../../assets/buyer_requests/Banner_xL.jpg">
    </picture>
</div>

<app-search-bar-buyer-request></app-search-bar-buyer-request>

<div class="container pt-3 mt-3">
    <div class="accordion pb-1" id="accordionExample" *ngFor="let buyerRequest of buyerRequests">
        <div class="card mb-3">
            <button id="headingOne" class="btn text-left card-header border-0 py-3" type="button" data-toggle="collapse"
                [attr.data-target]="'#buyerRequestId_'+[buyerRequest?.buyerRequestId]" aria-expanded="true"
                aria-controls="collapseOne">
                {{buyerRequest?.title}}
            </button>
            <p class="card-header">Created On: {{buyerRequest?.createdDate}} | Created By:
                <b>{{buyerRequest?.username}}</b></p>
            <div id="buyerRequestId_{{buyerRequest?.buyerRequestId}}" class="collapse hide" aria-labelledby="headingOne"
                data-parent="#accordionExample">
                <div class="card-body">
                    <p class="text-justify">{{buyerRequest?.description}}</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 col-sm-6 details">
                            <span><b>Category: </b></span><span>{{buyerRequest?.category}}</span>
                        </div>
                        <div class="col-md-4 col-sm-6 details">
                            <span><b>Sub Category: </b></span><span>{{buyerRequest?.subCategory}}</span>
                        </div>
                        <div class="col-md-4 col-sm-6 details">
                            <span><b>Quantity: </b></span><span>{{buyerRequest?.quantity}} {{buyerRequest?.unit}}</span>
                        </div>
                        <div class="col-md-4 col-sm-6 details">
                            <span><b>Price: </b></span><span>{{buyerRequest?.price}}.00 LKR</span>
                        </div>
                        <div class="col-md-4 col-sm-6 details">
                            <span><b>Location: </b></span><span>{{buyerRequest?.location}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="text-right">
                        <a id="contactBuyer" routerLink='/user/{{buyerRequest?.username}}' class="btn">Contact
                            Buyer</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr>
</div>

<app-footer></app-footer>