<app-navbar></app-navbar>

<div id="main_banner">
    <picture>
        <source media="(max-width:576px)" srcset="../../assets/Banner_S.jpg">
        <source media="(max-width:768px)" srcset="../../assets/Banner_M.jpg">
        <source media="(max-width:992px)" srcset="../../assets/Banner_L.jpg">
        <source media="(max-width:1920px)" srcset="../../assets/Banner_XL.jpg">
        <img src="../../assets/Banner_xL.jpg">
    </picture>
</div>

<app-search-bar-buyer-request></app-search-bar-buyer-request>

<div class="container">
    <div class="row mt-4" *ngFor="let buyerRequest of buyerRequests">
        <div class="col">
            <div class="card">
                <h5 class="card-header bg-dark text-light">{{buyerRequest?.title}}</h5>
                <p class="card-header"><b>Created On: </b>{{buyerRequest?.createdDate}} at
                <div class="card-body">
                    <p class="text-justify">{{buyerRequest?.description}}</p>
                    <hr>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <span><b>Category: </b></span><span>{{buyerRequest?.category}}</span>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <span><b>Sub Category: </b></span><span>{{buyerRequest?.subCategory}}</span>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <span><b>Quantity: </b></span><span>{{buyerRequest?.quantity}}</span>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <span><b>Price: </b></span><span>{{buyerRequest?.price}}</span>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <span><b>Location: </b></span><span>{{buyerRequest?.location}}</span>
                        </div>
                    </div>
                    <hr>
                    <a routerLink='/user/{{buyerRequest?.username}}' class="btn btn-primary float-right">Contact
                        Buyer</a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>