<div class="container">
    <div class="row mt-3">
        <div class="col-lg-3 col-md-4 col-sm-6 p-3" *ngFor="let homeShop of homeShops">
            <div class="card">
                <img src="data:image/jpeg;base64,{{homeShop?.pictureBytes}}" class="card-img-top" alt="{{homeShop.pictureName}}">
                <div class="card text-center">
                    <ul class="list-group list-group-flush rounded-0">
                        <a routerLink='/shop/{{homeShop?.shopId}}'>
                            <li id="shop_title" class="list-group-item border-bottom"><h6>{{homeShop?.title}}</h6>
                                <hr class="bg-light mb-1">
                                <p class="m-0">{{homeShop?.createdDate}}</p>
                            </li>
                        </a>
                        <li class="list-group-item">{{homeShop?.unit}} for {{homeShop?.priceOfOneUnit}}.00 LKR</li>
                        <li class="list-group-item">Location: {{homeShop?.location}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>