<app-navbar></app-navbar>

<div class="container mt-5 mb-5 p-4 col-lg-6">
    <div *ngIf="datasaved" class="message alert alert-success text-center" role="alert">
        <h5 class="alert-heading">User Details Successfully Updated!</h5>
    </div>
    <div *ngIf="datanotsaved" class="message alert alert-danger text-center" role="alert">
        <h5 class="alert-heading">User Details Upadate Failed!</h5>
    </div>
    <form [formGroup]="userForm" (ngSubmit)="updateUserData()">
        <div class="form-group">
            <label>First Name</label>
            <input type="text" [formControlName]="'firstName'" class="form-control" placeholder="Enter your first name">
            <span class="form-text text-danger"
                *ngIf="formControls.firstName.errors?.required && formControls.firstName.touched">
                First Name is required!
            </span>
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" [formControlName]="'lastName'" class="form-control" placeholder="Enter your last name">
            <span class="form-text text-danger"
                *ngIf="formControls.lastName.errors?.required && formControls.lastName.touched">
                Last Name is required!
            </span>
        </div>
        <div class="form-group">
            <label>Username</label>
            <input type="text" [formControlName]="'username'" class="form-control" placeholder="Enter an unique name"
                [attr.disabled]="true">
        </div>
        <div class="form-group">
            <label>Your Role</label>
            <select class="form-control col-md-6" [formControlName]="'role'" [attr.disabled]="true">
                <option value="ADMIN">Admin</option>
                <option value="FARMER">Farmer</option>
                <option value="BUYER">Buyer</option>
            </select>
        </div>
        <div class="form-group">
            <label>Mobile Number</label>
            <input [formControlName]="'mobileNumber'" type="text" class="form-control col-md-6"
                placeholder="Mobile Number">
            <span class="form-text text-danger" *ngIf="isAvailableMobileNumber">
                The mobile number is already taken by another user!
            </span>
            <span class="form-text text-danger"
                *ngIf="formControls.mobileNumber.errors?.required && formControls.mobileNumber.touched">
                Mobile number is required!
            </span>
            <span class="form-text text-danger"
                *ngIf="formControls.mobileNumber.errors?.pattern && formControls.mobileNumber.touched">
                You entered an invalid mobile number!
            </span>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input [formControlName]="'email'" type="text" class="form-control col-md-6" placeholder="Email"
                [attr.disabled]="true">
        </div>
        <div class="form-group">
            <label>Address</label>
            <input type="text" [formControlName]="'addressLine1'" class="form-control" placeholder="Address line 1">
            <span class="form-text text-danger"
                *ngIf="formControls.addressLine1.errors?.required && formControls.addressLine1.touched">
                Address Line 1 is required!
            </span>
            <input type="text" [formControlName]="'addressLine2'" class="form-control mt-2"
                placeholder="Address line 2">
            <span class="form-text text-danger"
                *ngIf="formControls.addressLine2.errors?.required && formControls.addressLine2.touched">
                Address Line 2 is required!
            </span>
            <input type="text" [formControlName]="'addressLine3'" class="form-control mt-2"
                placeholder="Address line 3">
            <span class="form-text text-danger"
                *ngIf="formControls.addressLine3.errors?.required && formControls.addressLine3.touched">
                Address Line 3 is required!
            </span>
        </div>
        <div class="modal-footer">
            <button id="go-to-Settings-btn" type="button" class="btn btn-secondary" routerLink='/user/{{username}}/settings'>Go
                to Settings</button>
            <button id="update-btn" type="submit" class="btn btn-secondary" [disabled]="userForm.invalid"
                data-toggle="modal" data-target="#resetPassword">Update</button>
        </div>
    </form>
</div>




<!--Reset Password Modal -->
<div class="modal fade" id="resetPassword" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Validate User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="passwordForm">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input [formControlName]="'password'" type="password" class="form-control"
                            placeholder="Enter your password">
                        <span class="form-text text-danger"
                            *ngIf="formControlsOfPasswordFrom.password.errors?.required && formControlsOfPasswordFrom.password.touched">
                            Password is required!
                        </span>
                        <span class="form-text text-danger"
                            *ngIf="formControlsOfPasswordFrom.password.errors?.pattern && formControlsOfPasswordFrom.password.touched">
                            You entered an invalid password!
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input [formControlName]="'confirmPassword'" type="password" class="form-control"
                            placeholder="Enter your confirm password">
                        <span class="form-text text-danger"
                            *ngIf="formControlsOfPasswordFrom.confirmPassword.errors?.required && formControlsOfPasswordFrom.confirmPassword.touched">Confirm
                            Password is required</span>
                        <span class="form-text text-danger"
                            *ngIf="formControlsOfPasswordFrom.confirmPassword.errors?.mustMatch">Confirm
                            Password does not match</span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                        <button type="button" class="btn btn-success" [disabled]="passwordForm.invalid"
                            (click)="getPassword()" data-dismiss="modal">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>