.container{
    border: 1px solid #1AD60D;
}

.btn:focus{
    box-shadow: none;
    border: 1px solid #1AD60D;
}

#update-btn:hover{
    box-shadow: none;
    border: 1px solid #1AD60D;
    background-color: #1AD60D !important;
}

#go-to-Settings-btn:hover{
    box-shadow: none;
    border: 1px solid #1AD60D;
    background-color: #1AD60D !important;
}

#update-btn{
    background-color: #000000;
}

#go-to-Settings-btn{
    background-color: #000000;
}

input:focus{
    background-color:#f0f5ef;
    border: 1px solid #1AD60D;
    box-shadow: none;
}