<app-navbar></app-navbar>

<div id="main_banner">
    <picture>
        <source media="(max-width:576px)" srcset="../../assets/Banner_S.jpg">
        <source media="(max-width:768px)" srcset="../../assets/Banner_M.jpg">
        <source media="(max-width:992px)" srcset="../../assets/Banner_L.jpg">
        <source media="(max-width:1920px)" srcset="../../assets/Banner_XL.jpg">
        <img src="../../assets/Banner_xL.jpg">
    </picture>
</div>

<div class="container pt-3 mt-3">
    <button id="newShop" type="button" class="btn btn-secondary btn-lg btn-block"
        [routerLink]="['/farmer-dashboard/create-shop']">Create New Shop +</button>
    <hr>
    <div *ngIf="isShopDeleted" class="message alert alert-success text-center" role="alert">
        <h5 class="alert-heading">Shop Successfully Deleted!</h5>
    </div>
    <div *ngIf="isShopNotDeleted" class="message alert alert-danger text-center" role="alert">
        <h5 class="alert-heading">Shop Deleting is failed!</h5>
    </div>
    <div class="card mb-4" *ngFor="let dashboardShop of dashboardShops">
        <h4 class="card-header">{{dashboardShop?.title}}</h4>
        <div class="card-body">
            <span class="time">Created on : {{dashboardShop?.createdDate}}</span>
            <hr>
            <span class="badge badge-success" *ngIf="dashboardShop?.shopStatus">Active</span>
            <span class="badge badge-danger" *ngIf="!dashboardShop?.shopStatus">Inactive</span>
            <div class="text-right">
                <!--Delete Shop Button trigger modal -->
                <button type="button" class="btn btn-danger button mr-2" data-toggle="modal"
                    data-target="#staticBackdrop"
                    (click)="getShopIdAndShopTitle(dashboardShop?.shopId, dashboardShop?.title)">Delete
                </button>
                <button type="button" class="btn btn-dark button"
                    routerLink='/farmer-dashboard/update-shop/{{dashboardShop?.shopId}}'>Edit
                </button>
            </div>
        </div>
    </div>
    <hr>
</div>

<!--Delete Shop Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">{{shopTitle}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure, Do you want to delete this shop?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" (click)="deleteShop()" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>