#main_banner img{
    width: 100%;
}

@media screen and (max-width: 768px)
{
  h4 {
      font-size: 18px;
  }

  .time {
      font-size: 14px;
  }

  .card-body {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #newShop {
    font-size: 18px;
  }

  .button {
    font-size: 12px;
  }

}

@media screen and (max-width: 342px)
{
  h5 {
      font-size: 16px;
      margin-left: 4px;
      margin-right: 4px;
  }
}