#main_banner img{
    width: 100%;
}

.card-header{
  background-color: #052123;
  color: white;
}

#headingOne{
  font-size: 20px;
}

#edit_button{
  background-color: #052123;
  color: white;
}

#edit_button:hover{
  background-color: #0f484c;
  color: white;
}

#newShop{
  background-color: #052123;
  color: white;
}

#newShop:hover{
  background-color: #0f484c;
  color: white;
}

#no{
  background-color: #052123;
  color: white;
}

#no:hover{
  background-color: #0f484c;
  color: white;
}

@media screen and (max-width: 768px)
{
  #headingOne {
      font-size: 18px;
  }

  .time {
      font-size: 14px;
  }

  .card-body {
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #newShop {
    font-size: 18px;
  }

  .button {
    font-size: 12px;
  }

}

@media screen and (max-width: 342px)
{
  h5 {
      font-size: 16px;
      margin-left: 4px;
      margin-right: 4px;
  }

  #headingOne {
    font-size: 15px;
  } 
}