<div class="container mt-5 mb-5">
    <div id="header" class="py-3 text-light text-center mb-3">
        <h4>Late Orders</h4>
    </div>
    <div id="header_bar" class="jumbotron p-4 mb-2" *ngFor="let lateOrder of lateOrders">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-9 col-sm-12">
                <h5>{{lateOrder?.shopTitle}}</h5>
                <hr class="my-0 mt-3 mb-2">
                <p class="mb-0">Created On: {{lateOrder?.createdDate}}</p>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 text-right">
                <button class="btn w-100 mt-3" routerLink='/user/{{username}}/order/{{lateOrder.orderId}}'>View</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 mb-5" *ngIf="isFarmer">
    <hr>
    <div id="header_bar" class="jumbotron p-4 mb-2" *ngFor="let lateOrdersByFarmer of lateOrdersByFarmer">
        <div class="row">
            <div class="col-xl-10 col-lg-9 col-md-9 col-sm-12">
                <h5>{{lateOrdersByFarmer?.shopTitle}}</h5>
                <hr class="my-0 mt-3 mb-2">
                <p class="mb-0">Created On: {{lateOrdersByFarmer?.createdDate}}</p>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-12 text-right">
                <button class="btn w-100 mt-3"
                    routerLink='/user/{{username}}/order/{{lateOrdersByFarmer.orderId}}'>View</button>
            </div>
        </div>
    </div>
</div>