<app-navbar></app-navbar>

<div id="main_banner">
    <picture>
        <source media="(max-width:576px)" srcset="../../assets/home/Banner_S.jpg">
        <source media="(max-width:768px)" srcset="../../assets/home/Banner_M.jpg">
        <source media="(max-width:992px)" srcset="../../assets/home/Banner_L.jpg">
        <source media="(max-width:1920px)" srcset="../../assets/home/Banner_XL.jpg">
        <img src="../../assets/home/Banner_xL.jpg">
    </picture>
</div>

<app-search-bar></app-search-bar>

<app-shops-home></app-shops-home>

<app-footer></app-footer>